<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing GuideCx App">
    <test name="Regression">
        <classes>
            <class name="testScenarios.LoginPageTest"/>
            <class name="testScenarios.AddTeamMemberPageTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->